html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url(../images/hero.jpg) 0% 0% / cover no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.azenix-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
  
  .caption-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }